.card {
    margin-top: 10%;
    margin-left: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    border: 0.2px double;
  }

  .card1{
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  
 
  
 